@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ring-gray-300{
  --tw-ring-color: tranparent;
  background-color: transparent;
  color: #FFF;
}
.hover\:bg-gray-50:hover{
  background-color: transparent !important;
}
.ring-black{width: 90px;}
.text-gray-400{
  color: #FFF;
}
